## Дополнительный проект
Минипроект на фильтрацию данных!

Имеется таблица с записями о компаниях, включая их ИНН, и отдельный текстовый файл с набором ИНН (колонка head_inn), которые хранятся в папке inn.

* inn.xls — таблица в экселевском формате
* necessary_inn.txt — перечень необходимых ИНН в текстовом формате

### Задание 1

Извлечь из таблицы записи с ИНН, указанными в текстовом файле

*У этого набора данных нет заголовка, поэтому вам пригодится аргумент header=None*

In [23]:
import pandas as pd

In [24]:
necessary = []
with open('necessary_inn.txt') as necessary_file:
    for line in necessary_file:
        necessary.append(int(line))

necessary[0:5]

[394609645484, 281578625230, 923769811917, 998694734508, 271011690615]

In [25]:
df = pd.read_excel('inn.xls', index_col='#')
df.head(1)

,Unnamed: 0,name,reg_number,address,head,head_job,head_inn,phone,email,site,registration_date,nalogoplatelschik_code,oktmo_code,okato_code,registration_region,okato_name,field,"capital,RUB","income,RUB"
#,,,,,,,,,,,,,,,,,,,
0,0,"ЗАО «Власова, Макаров и Шашков»",1143692580560,"д. Кирово-Чепецк, пр. Металлургов, д. 537 к. 3...",Жданов Карл Виленович,Маммолог,109092209811,+7 (559) 338-87-76,bogdanovavtonom@yahoo.com,ooo.info,2015-01-07,2006-10-04,21112877268,73423615032,Ulan-Ude,"к. Тосно, ул. Пушкинская, д. 896, 617222",Синхронизация критически важных отношений,54875526078,32205872896

In [26]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head(1)

,name,reg_number,address,head,head_job,head_inn,phone,email,site,registration_date,nalogoplatelschik_code,oktmo_code,okato_code,registration_region,okato_name,field,"capital,RUB","income,RUB"
#,,,,,,,,,,,,,,,,,,
0,"ЗАО «Власова, Макаров и Шашков»",1143692580560,"д. Кирово-Чепецк, пр. Металлургов, д. 537 к. 3...",Жданов Карл Виленович,Маммолог,109092209811,+7 (559) 338-87-76,bogdanovavtonom@yahoo.com,ooo.info,2015-01-07,2006-10-04,21112877268,73423615032,Ulan-Ude,"к. Тосно, ул. Пушкинская, д. 896, 617222",Синхронизация критически важных отношений,54875526078,32205872896

In [27]:
df.shape[0]

2110

In [28]:
df = df.loc[df['head_inn'].isin(necessary)]
df.shape[0]

115

### Задание 2

В качестве проверки укажите сумму колонки income,RUB в отобранных данных

*Должно получиться 6104522627393*

Записать результат в файл selected_inn.csv

In [29]:
df['income,RUB'].sum()

6104522627393

In [30]:
df.to_csv('selected_inn.csv', index=False)