## Описание данных
Имеются следующие переменные:

* Hotel – тип отеля (City Hotel или Resort Hotel)  

* Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным

* Lead time – количество дней, прошедших между датой бронирования и датой прибытия  

* Arrival full date – полная дата прибытия

* Arrival date year – год прибытия  

* Arrival date month – месяц прибытия  

* Arrival date week number – номер недели прибытия

* Arrival date day of month – день прибытия

* Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле

* Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле

* Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)

* Adults – число взрослых

* Children – число детей

* Babies – число младенцев 

* Meal – выбранный тип питания

* Country – страна происхождения клиента

* Reserved room type – тип зарезервированного номера

* Assigned room type – тип полученного номера (может отличаться от забронированного)

* Customer type – тип бронирования

* Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину

* Reservation status date – дата обновления статуса

### Задание 1

Импортируйте библиотеку pandas как pd. Прочитайте датасет bookings.csv с разделителем ";"

Сохраните прочитанный датасет в bookings

Затем запишите первые 7 строк в переменную bookings_head

In [1]:
import pandas as pd

bookings = pd.read_csv('bookings.csv', sep=';')

bookings_head = bookings.head(7)
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

### Задание 2

Посмотрите на размеры таблицы. Сколько всего в ней строк и столбцов?

In [2]:
print(f'''Ответ:
{bookings.shape[0]} - строк
{bookings.shape[1]} - столбец''')

Ответ:
119390 - строк
21 - столбец

### Задание 3

К какому типу относится большинство переменных?

In [3]:
bookings.dtypes.value_counts()

object     10
int64      10
float64     1
dtype: int64

Ответ:
- object - 10
- int64 - 10

### Задание 4

Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны в неудобном для дальнейшей работы формате. Исправьте ситуацию, приведя названия столбцов к нижнему регистру и заменив пробелы на знак нижнего подчеркивания

*Например: Is Canceled -> is_canceled*

In [4]:
bookings = bookings.rename(columns=lambda columns: columns.replace(' ','_').lower())
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

### Задание 5

Перейдем к исследованию данных! Пользователи из каких стран совершили наибольшее число успешных бронирований? Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5

In [5]:
top_5_counties = bookings.groupby('country', as_index=False)\
                        .aggregate({'is_canceled':'sum'})\
                        .sort_values('is_canceled', ascending=False)\
                        .head(5)

top_5_counties['country']

135    PRT
59     GBR
51     ESP
56     FRA
81     ITA
Name: country, dtype: object

### Задание 6

На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? Округлите полученные значения в точностью до 2 знаков после точки

In [6]:
mean_nights = bookings.groupby('hotel', as_index=False)\
                    .aggregate({'stays_total_nights':'mean'})\
                    .sort_values('stays_total_nights')\
                    .round(2)

mean_nights

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

### Задание 7

Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга

Сколько подобных наблюдений встретилось в датасете?

*отмена бронирования также считается*

In [7]:
wrong_types = bookings.query('reserved_room_type != assigned_room_type')

print(f'''Ответ:
{wrong_types.shape[0]}''')

Ответ:
14917

### Задание 8

Теперь проанализируйте даты запланированного прибытия (arrival_date_year).

На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

In [8]:
bookings.groupby('arrival_date_year')['arrival_date_month'].agg(pd.Series.mode)

arrival_date_year
2015    September
2016      October
2017          May
Name: arrival_date_month, dtype: object

В 2016 чаще всего бронировали отель на октябрь, в 2017 на май

### Задание 9

Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017?

In [9]:
bookings.groupby(['arrival_date_year', 'arrival_date_month'])['is_canceled']\
        .sum().groupby('arrival_date_year').nlargest(1)

arrival_date_year  arrival_date_year  arrival_date_month
2015               2015               September             2094
2016               2016               October               2514
2017               2017               May                   2762
Name: is_canceled, dtype: int64

2015 - September

2016 - October 

2017 - May

### Задание 10

Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [10]:
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

adults

### Задание 11

Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?**

- City hotel – отель находится в городе
- Resort hotel – отель курортный

В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки

In [11]:
bookings['total_kids'] = bookings.children + bookings.babies
bookings.groupby('hotel')['total_kids'].mean().round(2).nlargest(1)

hotel
Resort Hotel    0.14
Name: total_kids, dtype: float64

### Задание 12

Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием Churn Rate

Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах

В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. Давайте посмотрим, как эта метрика связана с наличием детей у клиентов!

Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше

В качестве ответа укажите наибольший % оттока, округленный до 2 знаков после точки

In [12]:
bookings['has_kids'] = bookings['total_kids']\
                .apply(lambda kids: True if kids > 0 else False)

round(bookings[['has_kids', 'is_canceled']].value_counts()\
     / bookings[['has_kids']].value_counts()\
         * 100,\
             2)

has_kids  is_canceled
False     0              62.78
          1              37.22
True      0              65.08
          1              34.92
dtype: float64

Ответ: 37.22%